/* Your @font-face rule remains unchanged */
@font-face {
    font-family: 'TitleFont';
    src: url('../Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#name {
    text-align: center;
    font-size: 4vw;
    font-family: monospace;/*'TitleFont', sans-serif;*/
    letter-spacing: 1rem;
    
    max-height: 40px;
    min-height: 10px;
    color: white;
    margin: auto;
    padding-left: 4vw;

    animation-name: shadow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes shadow {
    0% {text-shadow: 2px 0px 2px rgba(0, 0, 0, 1);}
    50% {text-shadow: -2px 0px 2px rgba(0, 0, 0, 1);}
    100% {text-shadow: 2px 0px 2px rgba(0, 0, 0, 1);}
}


/* Navigation Bar */
nav {
    margin-top: 4vh;
    display: flex; /* Use flexbox for layout */
    flex-wrap: nowrap; /* Prevent elements from wrapping to a new line */
    justify-content: center; /* Distribute the elements evenly */
    position: relative;
    width: 90%;
    max-width: 90%;
    height: 50px;
    background-color: #361d48;
    border-radius: 5px;
    font-size: 0;
    align-items: stretch;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 18px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 20%;
    font-family: monospace;
}

@media (max-width: 750px) {
  
  h1{
    margin-bottom: 0px;
  }
  nav{
    margin-top: 10px;
  }
  nav a {
    font-size: 3.5vw;
  }
  
}
 
body {
  font-size: 15px;
  font-family: monospace;
}

/* Project stuff*/
h2{
    text-align: center;
    color: white;
}


.resources a{
    color: black;
}


.cards__item {
    display: flex;
    padding: 3rem;

    @media (max-width: 600px) {
      .description{
        display: block;
        text-align: center;
      }
    }
    
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &:hover {
      .card__image {
        filter: contrast(100%);
      }
    }
    margin: auto;
  }
  
  .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
  }
  
  .card__title {
    color: black;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
  }
  
  .card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }

  .media{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 1.25rem;
    height: 10rem;

  }

  .big-media{
    display: block;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.25rem;
    

    max-width: 55vw;
    max-height: 500px;
    width: 100%; 
    height: auto; 
    object-fit: contain; 

  }
  
  .description {
    display: flex;
    flex-direction: row;
  }
  


/*Background stuff*/
body {
    background: linear-gradient(-45deg, #4861d1, #b83047, #9c1a71, #6b1a9a);
    background-size: 500% 1000%;
    animation: gradient 5s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}