/* Your @font-face rule remains unchanged */
@font-face {
    font-family: 'SourceCodePro';
    src: url('/hack.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#name {
    text-align: center;
    font-size: 4vw;
    font-family: 'SourceCodePro';/*'TitleFont', sans-serif;*/
    letter-spacing: 1rem;
    
    max-height: 40px;
    min-height: 10px;
    color: white;
    margin: auto;
    padding-left: 4vw;

    animation-name: shadow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes shadow {
    0% {text-shadow: 2px 0px 2px rgba(0, 0, 0, 1);}
    50% {text-shadow: -2px 0px 2px rgba(0, 0, 0, 1);}
    100% {text-shadow: 2px 0px 2px rgba(0, 0, 0, 1);}
}


/* Navigation Bar */
nav {
    margin-top: 4vh;
    display: flex; /* Use flexbox for layout */
    flex-wrap: nowrap; /* Prevent elements from wrapping to a new line */
    justify-content: center; /* Distribute the elements evenly */
    position: relative;
    width: 90%;
    max-width: 90%;
    height: 50px;
    background-color: #361d48;
    border-radius: 5px;
    font-size: 0;
    align-items: stretch;
    margin-right: auto;
    margin-left: auto;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 18px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 20%;
    font-family: 'SourceCodePro';
    border-radius: 5px;
}

nav a:hover{
  background-color: #22122e;
}

@media (max-width: 750px) {
  
  h1{
    margin-bottom: 0px;
  }
  nav{
    margin-top: 10px;
  }
  nav a {
    font-size: 3.5vw;
  }
  
}
  
body {
  font-size: 13px;
  font-family: 'SourceCodePro', sans-serif;
  background: #492c50;
  line-height: 1.4;
}

/* subscribe stuff*/
.subscribe {
  background: white;
  width: 400px;
  max-width: 75%;
  height: auto;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1px;
  font-size: 15px;
  /* position: fixed;
  bottom: 10px;
  left:50%;
  transform: translateX(-50%); */
  
  /* border: 2px solid #333; 
  box-sizing: border-box; */
}
.subscribe p {
  font-size: 14px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.subscribe input {
  margin: 0px;
  max-width: 70%;
  box-sizing: 90%;
  margin-bottom: 5px;
}

.subscribe .button {
  background: black;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px;
}

.subscribe .requiredemail{
  padding: 5px;
}

/*SHOW MORE*/
#more-content{
  display: none;
}

.show-more-btn {
  margin: auto;
  background: white;
  width: 80px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
}


/* Blog Stuff */


body {
    box-sizing: border-box;
  }
  
  /* Blog container */
  .blog-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
    font-family: 'SourceCodePro', monospace, sans-serif;
    font-weight: 100;
    margin: 48px auto;
    width: 20rem;
  }
  
  .blog-container a {
    color: #4d4dff;
    text-decoration: none;
    transition: .25s ease;
  }
  
  .blog-container a:hover {
    border-color: #ff4d4d;
    color: #ff4d4d;
  }
  
  @media screen and (min-width: 480px) {
    .blog-container {
      width: 28rem;
    }
  }
  
  @media screen and (min-width: 767px) {
    .blog-container {
      width: 40rem;
    }
  }
  
  @media screen and (min-width: 959px) {
    .blog-container {
      width: 50rem;
    }
  }
  
  /* Blog header */
/* Blog header */
.blog-cover{
  border-radius: 5px 5px 0 0;
  height: 15rem;
  box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
}
.blog-cover img{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  object-position: top;
  border-radius: 5px 5px 0 0;
}
  
  
  /* Blog body */
  .blog-body {
    margin: 0 auto;
    width: 80%;
  }
  
  .video-body {
    height: 100%;
    width: 100%;
  }
  
  .blog-title h1 a {
    color: #333;
    font-weight: 100;
  }
  
  .blog-summary p {
    color: lighten(#333, 10%);
  }
  
  

  .footer {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 40px;
  }

  .languages{
    float: right;
  }
  .date {
    float: left;
  }
  
  
  


/* background stuff */
/*change these colors*/
body {
    background: linear-gradient(-45deg, #4861d1, #b83047, #9c1a71, #6b1a9a);
    background-size: 400% 400%;
    animation: gradient 5s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

/*end of title stuff*/

h2{
    margin-top: 100px;
    font-family: 'SourceCodePro';
    text-align: center;
    font-size: 30px;
    color: white;
}
