/* Your @font-face rule remains unchanged */
@font-face {
    font-family: 'TitleFont';
    src: url('Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#name {
    text-align: center;
    font-size: 4vw;
    font-family: monospace;/*'TitleFont', sans-serif;*/
    letter-spacing: 1rem;
    
    max-height: 40px;
    min-height: 10px;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;

    animation-name: shadow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes shadow {
    0% {text-shadow: 2px 0px 2px rgba(0, 0, 0, 1);}
    50% {text-shadow: -2px 0px 2px rgba(0, 0, 0, 1);}
    100% {text-shadow: 2px 0px 2px rgba(0, 0, 0, 1);}
}

@media (max-width: 750px) {
  
  h1{
    margin-bottom: 0px;
  }
  nav{
    margin-top: 10px;
  }
  
}

/* Navigation Bar */
nav {
    margin-top: 1.5vw;
    display: flex; /* Use flexbox for layout */
    flex-wrap: nowrap; /* Prevent elements from wrapping to a new line */
    justify-content: center; /* Distribute the elements evenly */
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 50px;
    background-color: #361d48;
    border-radius: 5px;
    font-size: 0;
    align-items: stretch;
}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 18px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  width: 20%;
  font-family: monospace;
}

  
body {
  font-size: 12px;
  font-family: 'TitleFont', sans-serif;
}


h2{
    font-family: monospace;
    text-align: center;
    color: white;
    font-size: 50px;
}

p{
    font-family: monospace;
    text-align: center;
    color: white;
    font-size: 20px;
}
a{
    color: white;
}

body {
  background: linear-gradient(-45deg, #4861d1, #b83047, #9c1a71, #6b1a9a);
  background-size: 400% 400%;
  animation: gradient 5s linear infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}