@font-face {
  font-family: "MisterPixelRegular";
  src: url("Mister Pixel Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "MisterPixelRegular", sans-serif;
}
