/* Your @font-face rule remains unchanged */
@font-face {
    font-family: 'TitleFont';
    src: url('Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply a background color to the entire page */
* {
    background-color: #000;
}

/* Style for the title element */
.title {
    text-align: left;
    font-size: 3vw;
    font-family: 'TitleFont', sans-serif;
}

/* Style for the navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333; /* Set the background color for the navigation bar */
}

li {
    float: right;
}


/*cahnge this to a class*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'TitleFont', sans-serif;
    background-color: #a33e3e;
}

/*and this to a class*/
li a:hover {
    background-color:darkblue;
}

#title {
    float: left;
    background-color: wheat;
}
