/* Your @font-face rule remains unchanged */
@font-face {
    font-family: 'TitleFont';
    src: url('../Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#name {
    text-align: center;
    font-size: 4vw;
    font-family: monospace;/*'TitleFont', sans-serif;*/
    letter-spacing: 1rem;
    
    max-height: 40px;
    min-height: 10px;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

@media (max-width: 750px) {
  
  h1{
    margin-bottom: 0px;
  }
  nav{
    margin-top: 10px;
  }
  
}

/* Navigation Bar */
nav {
    margin-top: 1.5vw;
    display: flex; /* Use flexbox for layout */
    flex-wrap: nowrap; /* Prevent elements from wrapping to a new line */
    justify-content: center; /* Distribute the elements evenly */
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 50px;
    background-color: #361d48;
    border-radius: 5px;
    font-size: 0;
    align-items: stretch;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 18px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 20%;
    font-family: monospace;
}

  
body {
  font-size: 15px;
  font-family: monospace;
  background: #492c50;
}

/* Blog Stuff */


body {
    box-sizing: border-box;
  }
  
  /* Blog container */
  .blog-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
    font-family: monospace, sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin: 48px auto;
    width: 20rem;
  }
  
  .blog-container a {
    color: #4d4dff;
    text-decoration: none;
    transition: .25s ease;
  }
  
  .blog-container a:hover {
    border-color: #ff4d4d;
    color: #ff4d4d;
  }
  
  @media screen and (min-width: 480px) {
    .blog-container {
      width: 28rem;
    }
  }
  
  @media screen and (min-width: 767px) {
    .blog-container {
      width: 40rem;
    }
  }
  
  @media screen and (min-width: 959px) {
    .blog-container {
      width: 50rem;
    }
  }
  
  /* Blog header */
  .blog-cover {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/yosemite-3.jpg");
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
  }
  
  
  /* Blog body */
  .blog-body {
    margin: 0 auto;
    width: 90%;
  }
  
  .video-body {
    height: 100%;
    width: 100%;
  }
  
  .blog-title h1 a {
    color: #333;
    font-weight: 100;
  }
  
  .blog-summary p {
    color: lighten(#333, 10%);
  }
  
  

  .footer {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 10px;
  }
/*
  .languages{
    float: right;
  }
  .date {
    float: left;
  }
  
  */
  


/* background stuff */
/*change these colors*/
body {
    background: linear-gradient(-45deg, #4861d1, #b83047, #9c1a71, #6b1a9a);
    background-size: 400% 400%;
    animation: gradient 5s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

