@font-face {
    font-family: 'Manrope-Bold';
    src: url('Manrope-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    font-family: 'Manrope-Bold',sans-serif;
    background-color: #bcf5f3;
}

h1 {
    font-size: 50px;
}


#loadingGif {
    width: 150px;
}

#loading {
    margin: 0px;
}